* {
    padding: 0;
    margin: 0;
}

.wrapper-main {
    width: 1000px;
    padding: 50px 0;
    margin: 0 auto;
}

body {
    font-size: 16px;
    padding: 20px;
    color:black;
    background-color: white;
    font-family: 'space grotesk', sans-serif;
}

a {
    text-decoration: none;
}

/* DESKTOP view*/

#landing-page {
    height: auto; 
    width: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.landing-page-logo  {
    height: 40px;
    width: auto;
    flex: 0; 
    display: flex; 
    justify-content: center;
    padding-left: 20px;
}

.nav {
    align-items: center;
    position: absolute;
    top: 0; 
    width: 100%; 
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding: 20px 10px;
    z-index: 1000;
}

.nav-middle {
    display: flex; 
    list-style: none; 
    margin: 10px;
    padding: 10px;
    gap: 20px; 
    
}

.nav-middle li a {
    color: black;
}

.request-btn {
        cursor: pointer;
        border-radius: 10px;
        width: 200px;
        height: 50px;
        background-color: white;
    }

@media (min-width: 769px) {
    .wrapper-main {
        width: 100%
    }

    .burger-menu, 
    .burger-menu-btn {
        display: none !important;
    }

/* siit alates vaja hakata timmima */
    .header {
        padding: 20px 0;
        text-align: center;
    }
    
    .header h1 {
        padding-bottom: 20px;
    }

    .header p {
        padding-bottom: 20px;
    }

    .consultation-btn {
        cursor: pointer;
        border-radius: 10px;
        width: 200px;
        height: 50px;
        background-color: black;
        color: white;
    }

    .header-illustration-image img {
        padding: 10px 0;
        width: 100%;
    }
}



/* Kõik siin on mobiilne vaade */
@media (max-width: 430px) {

    .burger-menu-btn {
        display: block;
        width: 50px;
        height: 50px;
        background-image: url(images/icons/burger-menu.png), url(images/icons/burger-menu-close.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center, center left 50px;
        margin-left: 100px;
    }

    .burger-menu {
        display: none;
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 900;
        background-color: #111;
    }

    .burger-menu ul {
        width: 100%;
        height: calc(100vh - 50px);
        padding-top: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .burger-menu ul li {
        flex-basis: 100%;
        border-top: 2px solid black;
    }

    .burger-menu ul li:last-child {
        border-bottom: 2px solid black;
    }

    .burger-menu ul li a {
        display: block;
        height: 100%;
        font-size: 3rem;
        padding: 30px 0;
        flex-basis: 100%;
        text-align: center;
        color: white;
    }

    .wrapper-main {
        width: 80%;
    }
    
    .nav {
        align-items: center;
        position: absolute;
        top: 0; 
        width: 100%; 
        display: flex;
        flex: 1;
        justify-content: space-between;
        padding: 20px 10px;
    }
    
    .nav-middle {
        display: none;
    }
    
    .landing-page-logo  {
        height: 40px;
        width: auto;
    
    }

    .request-btn {
        display: none;
    }

    .header {
        padding: 20px 0;
        text-align: center;
    }
    
    .header h1 {
        padding-bottom: 20px;
    }

    .header p {
        padding-bottom: 20px;
    }

    .consultation-btn {
        cursor: pointer;
        border-radius: 10px;
        width: 200px;
        height: 50px;
        background-color: black;
        color: white;
    }

    .header-illustration-image img {
        padding: 10px 0;
        width: 100%;
    }

}


/* Kõik siin on tahvli vaade */
@media (max-width: 1024px) {
    .wrapper-main {
        width: 100%
    }
}


